@font-face {
  font-family: FiraSans;
  font-display: swap;
  src: url("../fonts/FiraSans-BlackItalic.woff2") format("woff2"), url("../fonts/FiraSans-BlackItalic.woff") format("woff");
  font-Weight: 400;
  font-style: normal;
}
@font-face {
  font-family: FiraSans;
  font-display: swap;
  src: url("../fonts/FiraSans-Bold.woff2") format("woff2"), url("../fonts/FiraSans-Bold.woff") format("woff");
  font-Weight: 700;
  font-style: normal;
}
@font-face {
  font-family: FiraSans;
  font-display: swap;
  src: url("../fonts/FiraSans-BoldItalic.woff2") format("woff2"), url("../fonts/FiraSans-BoldItalic.woff") format("woff");
  font-Weight: 400;
  font-style: normal;
}
@font-face {
  font-family: FiraSans;
  font-display: swap;
  src: url("../fonts/FiraSans-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/FiraSans-ExtraBoldItalic.woff") format("woff");
  font-Weight: 400;
  font-style: normal;
}
@font-face {
  font-family: FiraSans;
  font-display: swap;
  src: url("../fonts/FiraSans-Black.woff2") format("woff2"), url("../fonts/FiraSans-Black.woff") format("woff");
  font-Weight: 900;
  font-style: normal;
}
@font-face {
  font-family: FiraSans;
  font-display: swap;
  src: url("../fonts/FiraSans-ExtraLight.woff2") format("woff2"), url("../fonts/FiraSans-ExtraLight.woff") format("woff");
  font-Weight: 200;
  font-style: normal;
}
@font-face {
  font-family: FiraSans;
  font-display: swap;
  src: url("../fonts/FiraSans-ExtraBold.woff2") format("woff2"), url("../fonts/FiraSans-ExtraBold.woff") format("woff");
  font-Weight: 800;
  font-style: normal;
}
@font-face {
  font-family: FiraSans;
  font-display: swap;
  src: url("../fonts/FiraSans-ExtraLightItalic.woff2") format("woff2"), url("../fonts/FiraSans-ExtraLightItalic.woff") format("woff");
  font-Weight: 400;
  font-style: normal;
}
@font-face {
  font-family: FiraSans;
  font-display: swap;
  src: url("../fonts/FiraSans-Italic.woff2") format("woff2"), url("../fonts/FiraSans-Italic.woff") format("woff");
  font-Weight: 400;
  font-style: normal;
}
@font-face {
  font-family: FiraSans;
  font-display: swap;
  src: url("../fonts/FiraSans-LightItalic.woff2") format("woff2"), url("../fonts/FiraSans-LightItalic.woff") format("woff");
  font-Weight: 400;
  font-style: normal;
}
@font-face {
  font-family: FiraSans;
  font-display: swap;
  src: url("../fonts/FiraSans-MediumItalic.woff2") format("woff2"), url("../fonts/FiraSans-MediumItalic.woff") format("woff");
  font-Weight: 400;
  font-style: normal;
}
@font-face {
  font-family: FiraSans;
  font-display: swap;
  src: url("../fonts/FiraSans-Medium.woff2") format("woff2"), url("../fonts/FiraSans-Medium.woff") format("woff");
  font-Weight: 500;
  font-style: normal;
}
@font-face {
  font-family: FiraSans;
  font-display: swap;
  src: url("../fonts/FiraSans-Regular.woff2") format("woff2"), url("../fonts/FiraSans-Regular.woff") format("woff");
  font-Weight: 400;
  font-style: normal;
}
@font-face {
  font-family: FiraSans;
  font-display: swap;
  src: url("../fonts/FiraSans-SemiBoldItalic.woff2") format("woff2"), url("../fonts/FiraSans-SemiBoldItalic.woff") format("woff");
  font-Weight: 400;
  font-style: normal;
}
@font-face {
  font-family: FiraSans;
  font-display: swap;
  src: url("../fonts/FiraSans-SemiBold.woff2") format("woff2"), url("../fonts/FiraSans-SemiBold.woff") format("woff");
  font-Weight: 600;
  font-style: normal;
}
@font-face {
  font-family: FiraSans;
  font-display: swap;
  src: url("../fonts/FiraSans-Light.woff2") format("woff2"), url("../fonts/FiraSans-Light.woff") format("woff");
  font-Weight: 300;
  font-style: normal;
}
@font-face {
  font-family: FiraSans;
  font-display: swap;
  src: url("../fonts/FiraSans-Thin.woff2") format("woff2"), url("../fonts/FiraSans-Thin.woff") format("woff");
  font-Weight: 100;
  font-style: normal;
}
@font-face {
  font-family: FiraSans;
  font-display: swap;
  src: url("../fonts/FiraSans-ThinItalic.woff2") format("woff2"), url("../fonts/FiraSans-ThinItalic.woff") format("woff");
  font-Weight: 400;
  font-style: normal;
}
body {
  font-family: Fira Sans;
  font-size: 50px;
}
body span {
  color: red;
}/*# sourceMappingURL=style.css.map */